h1 {
  margin-bottom: 1em;
}

.inverse code {
  background: hsl(190, 25%, 8%);
}

p {
  margin: 12px 0 6px 0;
}

ul {
  margin-top: 0px;
}

.pl, .pr, .tl {
  font-size: 1.2em;
  margin-top: -24px;
}

.ts{
  font-size: 0.8em;
}

.ms {
  margin-left: 1em;
}

.me {
  margin-right: 1em;
}

.w20, .w33, .w40, .w50, .w66, .w75, .w80, .w90, .w100 {
  display: inline-block;
}

.w20 img, .w33 img, .w40 img, .w50 img, .w66 img, .w75 img, .w80 img, .w90 img, .w100 img {
  width: 100%;
}

.w100{ width: 100%; }
.w90 { width: 90%; }
.w80 { width: 80%; }
.w75 { width: 75%; }
.w66 { width: 66%; }
.w50 { width: 50%; }
.w40 { width: 40%; }
.w33 { width: 33%; }
.w20 { width: 20%; }

.source, .sources {
  font-size: 0.8em;
  position: absolute;
  bottom: 12px;
}
.source:before {
  content: "Source: ";
}
.sources:before {
  content: "Sources: ";
}

.icon {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 15px;
}

.icon > img {
  width: 80%;
  height: 80%;
}


.pull-left, .pull-right, .pl, .pr {
  text-align: left;
  margin-top: -24px;
}

.fl, .pl, .pl40, .pl60 {
  float: left;
}
.fr, .pr, .pr40, .pr60 {
  float: right;
}

.fr { margin-left: 1em; }
.fl { margin-right: 1em; }
  
.pl40 { width: 37%; }
.pl   { width: 47%; }
.pl60 { width: 57%; }

.pr40 { width: 37%; }
.pr { width: 47%; }
.pr60 { width: 57%; }


.pr + * {
  clear: both;
}

.center {
  text-align: center;
}

.fit > *{
  max-width: 100%;
  max-height: 60vh;
  display: block;
}

.key {
  border: 2px solid black;
  border-radius: 3px;
  background: radial-gradient(#ddd, #fff);
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 1.3rem;
  min-width: 2rem;
  height: 2rem;
  padding: 0 0.25em;
  margin: 0 0.25em;
}